{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}
{% block stylesheets %}{{ parent() }}
{% endblock %}
{% block body %}{{ parent() }}

    <main id="main" class="panel">

        <div id="home_pages">
            <header class="panel-header">
                Bonjour et Bienvenue !!
            </header>

            <div class="panel-demo pages">
            
                <section class="box">
                    <h2 class="box-title">box1</h2>
                </section>

                <section class="box">
                    <h2 class="box-title">box2</h2>
                </section>

                <section class="box">
                    <h2 class="box-title">box3</h2>
                </section>
            </div>

            <footer class="panel-footer">
                <h2 class="box-title">footer</h2>
            </footer>
        </div>

        {# Pages Services #}
            {# Site Internet #}
            <div id="serv_siteweb_pages" class="pageindex">
                <header class="panel-header">
                    <h2>Vente Site Web</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>
            {# App Web #}
            <div id="serv_appwab_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Vente Applications Web</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>
            {# Robotique #}
            <div id="serv_robo_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Vente Robotique</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>

        {# Tuto  #}
            {# Cours #}
            <div id="cours_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Cours Semi-Free</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>
            {# Admin. Système & Réseaux #}
            <div id="cours_admin_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Cours Admin. Système & Réseaux</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>
            {# Dev. Logiciel, Mobile et Web #}
            <div id="cours_dev_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Cours Dev. Logiciel, Mobile et Web</h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>

        {# Robotique #}
            {# Fan Club #}
            <div id="robo_fan_pages" class="pageindex">
                <header class="panel-header">
                   <h2>Fan Club </h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>
            {# Archive #}
            <div id="robo_arch_pages" class="pageindex">
                <header class="panel-header">
                      <h2>Archive </h2>
                </header>

                <div class="panel-demo pages">
                
                    <section class="box">
                        <h2 class="box-title">box1 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box2 test</h2>
                    </section>

                    <section class="box">
                        <h2 class="box-title">box3 test</h2>
                    </section>
                </div>

                <footer class="panel-footer">
                    <h2 class="box-title">footer test</h2>
                </footer>
            </div>

    </main>

{% endblock %}
{% block javascripts %}{{ parent() }}
<script>

</script>
{% endblock %}